<!DOCTYPE html>
<html>
<head>
    <title>Recommendations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-dark text-white">

<div class="container mt-5 text-center">

<h2>Top Recommended Movies ⭐</h2>

<img src="/static/chart.png" class="mt-4" width="600">

<br><br>

<ul class="list-group">
{% for movie, rating in result.items() %}
<li class="list-group-item">
    🎬 {{movie}} — ⭐ {{rating}}
</li>
{% endfor %}
</ul>

<br>
<a href="/" class="btn btn-secondary">Back</a>

</div>
</body>
</html>
